<div>
    <img src = "/assets/bgFinal.PNG" width="100%"/>
</div>


<!-- <mat-grid-list cols="2" rowHeight="1:1">

    <mat-grid-tile>
        <br/>
     <img mat-card-image src="/assets/imageabout.png" alt="">
    </mat-grid-tile>

    <mat-grid-tile>
       <mat-card>
        <h2>What do we do?</h2>
            
              
        <mat-list role="list">
            <mat-list-item role="listitem"> Photography (Live update, Facebook album, Physical album, Story book, Live printing)</mat-list-item>
            <mat-list-item role="listitem">Cinematography</mat-list-item>
            <mat-list-item role="listitem">Still/Motion graphics</mat-list-item>
        </mat-list>
       </mat-card>
             
           <mat-card>
            <h2>Who are we?</h2>
            
            <mat-list role="list">
                <mat-list-item role="listitem"> We are some individuals that grouped together to serve you 'the best'.</mat-list-item>
            </mat-list>
           </mat-card> -->
              
           
                <!-- <mat-card-title>Do we have experience?</mat-card-title>
             </mat-card-header>
             <mat-card-content>
                <mat-list role="list">
                    <mat-list-item role="listitem"> What we can say is, "You'll never know unless you try!”</mat-list-item>
                </mat-list>
             </mat-card-content>
         
           
          <mat-card-header>
            <mat-card-title>Do we even have talent?</mat-card-title>
         </mat-card-header>
         <mat-card-content>
            <mat-list role="list">
                <mat-list-item role="listitem"> That's the point. You may call this a self-obsession but our members are way too qualified <br/>
                    to be in this place. You can test if you want some confirmation!</mat-list-item>
            </mat-list>
       
         </mat-card-content>
     
       
       <mat-card-header>
                <mat-card-title>How many people do we have?</mat-card-title>
             </mat-card-header>
             <mat-card-content>
                <mat-list role="list">
                    <mat-list-item role="listitem"> Not more than 20 because 'quality is lot more important than quantity'</mat-list-item>
                </mat-list>
             </mat-card-content>

             <mat-card-header>
                <mat-card-title>Can you join with us?</mat-card-title>
             </mat-card-header>
             <mat-card-content>
            <p>
                It depends on your talent!<br/>
                Contact +94772726273 / +94766265405 for more info.
             </p>
             </mat-card-content>

            
          </mat-card> -->
           
       <!-- </mat-grid-tile>
  </mat-grid-list>    -->