<!-- <br/><br/>
<button mat-raised-button color="primary">Add New Event</button> -->

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>ClicksLK</mat-card-title>
      <mat-card-subtitle>Misu & Hiru Birthday Album</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/Birthday.jpg" alt="">
    <mat-card-content>
      <p>
        We wish you two beautiful angels a happy birthday along with many years of happiness and love. 
        May you reach all your goals and dreams Clicked by Chandima Dahanayake.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><a href="Event1.component.html">VIEW MORE</a></button>
    </mat-card-actions>
  </mat-card>
  <br/><br/>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>ClicksLK</mat-card-title>
      <mat-card-subtitle>Siyoth Saraniya</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/siyoth.jpg" alt="">
    <mat-card-content>
      <p>
        The event was organised by the IT Faculty of University of Moratuwa, was concluded successfully on 22nd of February 2020 at 
        Faculty premises.
        <br/>
        ALBUM 01
        <br/>
         Clicked by : 
                Chandima Dahanayake,
                Kalindu Gunawardana,
                Rasara Dampitiya,
                Amayuru Lokugamage
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button><a href="Event2.component.html">VIEW MORE</a></button>
    </mat-card-actions>
  </mat-card>
