.example-card {
    max-width: 320px;
    margin: auto;
  }
  
  .example-header-image {
    background-image: url('/assets/photography lens.jpg');
    background-size: cover;
  }

  .mat-card-actions{
      display: flex;
  }

  .mat-button{
      color: blue;
  }

  