

<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile>
        <mat-card class="grid_card">
            <mat-card-header>
                
                <mat-card-title>Check Bookings</mat-card-title>
                <mat-card-subtitle>Click here to check bookings</mat-card-subtitle>
              </mat-card-header>
              
              <mat-card-content>
                <p>
                  
                </p>
              </mat-card-content>
              <mat-card-actions>
                <a routerLink="/checkbooking"><button mat-raised-button color="primary">Check Bookings</button></a>
              </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                
                <mat-card-title>Check CVs</mat-card-title>
                <mat-card-subtitle>Click here to check CVs</mat-card-subtitle>
                
              </mat-card-header>
                 
              <mat-card-content>
                
                    
                
              </mat-card-content>
              <mat-card-actions>
                <a routerLink="/checkcvs"><button mat-raised-button color="primary">Check CVs</button></a>
              </mat-card-actions>
            
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                
                <mat-card-title>Upload Events</mat-card-title>
                <mat-card-subtitle>Click here to upload events</mat-card-subtitle>
              </mat-card-header>
              
              <mat-card-content>
                <p>
                  
                </p>
              </mat-card-content>
              <mat-card-actions>
                <a routerLink="/uploadevents"><button mat-raised-button color="primary">Upload Events</button></a>
              </mat-card-actions>
            
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-header>
                
                <mat-card-title>Account Settings</mat-card-title>
                <mat-card-subtitle>Click here for account settings</mat-card-subtitle>
              </mat-card-header>
              
              <mat-card-content>
                <p>
                  
                </p>
              </mat-card-content>
              <mat-card-actions>
                <a routerLink="/accountsettings"><button mat-raised-button color="primary">Account Settings</button></a>
              </mat-card-actions>
            
        </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
